/* ----------------------------------------------




                       A L L



--------------------------------------------- */

body {
    background-color: #D4D8D9;
}


/* ------------- TEXT STYLES --------------- */

p, h1, h2, h3 {text-align: center;}

p.bodytext {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.13em;
    color: rgba(0,0,0,0.60);
    line-height: 1.7em;
    letter-spacing: 0.02em;
}



h1 {
    font-family: Kroppen-Regular, sans-serif !important;
    font-size: 1.5em !important;
    letter-spacing: 0.13em !important;
    line-height: 1.3em !important;
}

h2 {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 1em !important;
    letter-spacing: 0.06em !important;
}

h5 {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 0.8em !important;
    letter-spacing: 0.02em !important;
}

h6, ul.footer_nav a {
    font-family: 'Lato', sans-serif; !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 0.75em !important;
    letter-spacing: 0.02em !important;
}


p.tweet {
    font-family: 'Lato', sans-serif; !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 0.875em !important;
    line-height: 1.6em !important;
}

p.author {
    font-family: 'Lato', sans-serif; !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 0.75em !important;
    letter-spacing: 0.05em !important;
}

footer p {
    font-family: 'Lato', sans-serif; !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 0.75em !important;
    line-height: 1.5em !important;
    letter-spacing: 0.05em !important;
}

ul.attendee-notes {
    font-family: 'Lato', sans-serif; !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 0.75em !important;
    letter-spacing: 0.1em !important;
}

.white, .white a {color: white !important;}
.black, .black a {color: rgba(0,0,0,0.80) !important;}
.gray, .gray a {color: rgba(0,0,0,0.55);}
.lgray, .lgray a {color: rgba(26,25,25,0.3);}
.green, .green a {color: #60AB32 !important;}
.magenta, .magenta a {color: #D91E57 !important;}



/* ------------- BUTTON --------------- */

a {text-decoration: none !important; cursor: pointer;}

a.button {
    border: 1px solid;
    border-radius: 5em;
    padding: 1em 2em;
    font-family: 'Lato', sans-serif; !important;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-decoration: none !important;
}

a.button:hover {color: #fff !important;}

a.button.green {
    border-color: #6CB644 !important;
}

a.button.green:hover {
    background-color: #6CB644 !important;
}
a.button.black:hover {
    background-color: rgba(0,0,0,0.80) !important;
}

textarea:focus, input:focus, button:focus {
    outline: none !important;
}

/* ------------- CONTENT --------------- */

.content-wrapper {
    position: absolute;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    padding-top: 1.8em;
    background: white;
}

div.content, footer {
    padding: 0 12%;
}

div.content#next_edition {
    padding: 0 10% !important;
}



/* ------------- HEADER --------------- */

header {
    background-color: transparent !important;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header img.logo {
    width: 1.1em;
    height: auto;
    position: fixed;
    top: 1.5em;
    left: 1em;
}

nav.header_nav  {
    list-style: none;
    position: fixed;
    top: 1.5em;
    right: 1.5em;
}

nav.header_nav li {
    margin-left:.5em;
    margin-bottom:.2em;

}

header nav li img {
    width: 1.3em;
    height: auto;
    margin-bottom: 0.03em;
}

i.fa { color: #B4B4B4 !important; font-size: 1.3em;}

header a:hover {opacity: 0.6;}


/* ------------- INTRO --------------- */

div.content#intro {
    padding-top: 4em;
    padding-bottom: 4em;
}

div.intro-logo {padding: 1em 0;}

div.intro-logo img {
    width: 100%;
    height: auto;
}
/* ------------- LAST EDITION --------------- */


div.content#last_edition {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #F2F2F2;
}

div#last_edition_text {
    padding-bottom: 4em;
    text-align: center;
}

div#last_edition .bodytext {margin-top: 1.5em;}

p#last_edition_text2 {margin-bottom: 2.5em;}

#last_edition_button { margin: 1.5em auto;}



/* ------------- VIDEO --------------- */

div#video iframe {
        margin: 1em auto;
        width: 100%;
        height: 11em;
        border-radius: .3em;
}


/* ------------- Testimonials --------------- */

div#testimonials.title {
    margin: 2.8em auto 2.2em;
    width: 16em;
}

div.title .icon {
    width: auto;
    height: 1.8em;
    margin-right: 0.5em;
    float: left;
}

div.title h2 {text-align: left; line-height: 1.6em;}


blockquote.twitter-tweet {text-align: center; margin-bottom: 2.5em; }

blockquote.twitter-tweet img {
    border-radius: 6em;
    width: 5em;
}


p.tweet a {
    color: #2F79B0;
}


blockquote.twitter-tweet a:hover {
    opacity: 0.7;
}



/* ------------- Attendee Notes --------------- */

div#notes.title {
    margin: 2.5em auto 2.2em;
    width: 11em;
}


ul.attendee-notes {
    width: 10em;
    margin: 0 auto;
    line-height: 2.5em;
    text-align: left;
    list-style: none;
    padding: 0 0 0 5%;
}

ul.attendee-notes li:before {
    content: "• ";
    color: #8e8e8e !important;
}

ul.attendee-notes a:hover{
    border-bottom: solid 1px #8E8E8E;
}

/* ------------- Next Edition --------------- */


div#next_edition {
    background: url(../images/photo_bg.jpg) no-repeat center 75%;
    background-size: cover;
    width: 100%;
}

div#black_mask {
    height: 100%;
    background: rgba(26,25,25,0.9);
    padding-top: 4em;
    padding-bottom: 0.5em;
}


div#next_edition h1, div#next_edition p.bodytext  {
    margin: 0 auto;
}


div#next_edition p.bodytext {
    margin-top: 1em;
}

/* Newsletter Form */

.form_container {
    width: 100%;
    margin: 3.5em auto;
}

div.form_email {
    width: 76%;
    text-align: center;
    float: left;
}

input#email {
    padding: 0.5em 1.5em;
    height: 2em;
    min-width: 8em;
    width: 85%;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    border: 0;
    font-family: 'Lato', sans-serif; !important;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    color: rgba(0,0,0,0.80) !important;
}


input#email::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     color: #B5B8BB;
}
input#email:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #B5B8BB;
   opacity:  1;
}
input#email::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #B5B8BB;
   opacity:  1;
}
input#email:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B5B8BB;
}

div.form_submit {
    width: 20%;
    margin-top: 0;
    float: left;
    border: solid 0.31em white;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: white;
    text-align: right;
}

button.submit_button {
    background-color: #D91E57;
    width: 2.5em;
    height: 2.5em;
    border: 0;
    border-radius: 5em;
}

button.submit_button img {
    width: 1.4em;
    height: auto;
    padding-top: 0.3em;
}


button.submit_button:hover {
    background-color: rgba(0,0,0,0.80) !important;
}


/* Countdown Timer */

div.next_edition_timer_wrap {
    width: 100%;
    margin: 0 auto;
}

ul.next_edition_timer {
    width: 13em;
    margin: 3.5em auto;
    list-style: none;
    padding: 0 !important;
    text-align: center;
}


ul.next_edition_timer li {
    display: inline-block;
    margin: 0 0.3em;
}

li.units {
    width: 2em;
    height: auto;
    text-align: center;
}

h5.units {
    font-family: 'Lato', sans-serif; !important;
    font-style: normal;
    font-weight: 400;
	font-size: 1.2em;
	color: #797979;
    margin: 0;
    letter-spacing: 0.2em;
}

span.units_name {
    font-family: 'Lato', sans-serif; !important;
    font-style: normal;
    font-weight: 300;
	font-size: 0.6em;
	color: #797979;
    letter-spacing: 0.05em;
}

li.divider {
    font-family: 'Lato', sans-serif; !important;
    font-style: normal;
    font-weight: 400;
	font-size: 1.2em;
	color: #797979;

}
/* ------------- Footer --------------- */

footer {
    background-color: #d8d8d8;
    padding-top: 2em !important;
    padding-bottom: 3em !important;
}

img.logo_dotjs {
    width: 8em;
    height: auto;
}

div#footer_col1 {text-align: center; margin-top: 16em;}
div#footer_col2 {text-align: center; margin-top: -21em;}
div#footer_col3 {text-align: center; margin-top: -16em;}

footer hr {
    width: 10em;
    border: solid 1px #cdcdcd;
    margin: 0 auto 1.8em;
}

footer h5 {padding: 0; margin: 0;}

footer h6 {margin: 2em 0;}

ul.footer_nav, ul.footer_social {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul.footer_nav li {
    display: inline-block;
    margin: 0 2%;
}



ul.footer_nav a:hover {
    color: #D91E57 !important;
}

ul.footer_social li {
    display: inline-block;
    margin: 0 0.4em;
}
ul.footer_social li img {
    width: 20px;
}


footer p {
    max-width: 19em;
    margin: 1em auto;
}

div#footer_col1 h6 {margin: 3.5em 0 1.3em !important;}

footer a:hover {opacity: 0.6;}


/* ----------------------------------------------



                    >360px




--------------------------------------------- */
@media only screen and (min-width: 360px) and (max-width: 568px) {
 /* ------------- Footer --------------- */

    ul.footer_nav li {
        margin: 0 4% !important;
    }

}
/* ----------------------------------------------



                    Tablets




--------------------------------------------- */
@media only screen and (min-width: 569px) and (max-width: 1023px) {

/* ------------- TEXT STYLES --------------- */

p.bodytext {text-align: justify !important;}

h1 {
    font-size: 2em !important;
    letter-spacing: 0.14em !important;
}

/* ------------- INTRO--------------- */



/* ------------- LAST EDITION --------------- */

div#last_edition .bodytext {margin-top: 1.6em;}

/* ------------- VIDEO --------------- */

div#video iframe {
        height: 21em;
}


/* ------------- Testimonials --------------- */

blockquote {margin: 0 0 2.5em 0 !important;}

div#testimonials.title {
    margin: 2.8em auto 1em !important;
}

div.tweet {
    padding: 2.14em 0 0 7em;
}

div.tweet p {
    text-align: left !important;
}

p.author {margin: 0;}
p.tweet {margin-top: 0.5em;}


blockquote.twitter-tweet img {
    float: left !important;
    position: relative !important;
    top: 1.7em !important;
}

 /* ------------- Attendee Notes --------------- */


div#notes.title {margin: 3.5em auto 2.2em;}

ul.attendee-notes {
    width: 100% !important;
    padding: 0 !important;
    text-align: center !important;
}

ul.attendee-notes li {
    display: inline-block;
}

ul.attendee-notes li.margin{
      margin-left: 15%;
}

/* ------------- Next Edition --------------- */

    div#black_mask {
        padding-top: 5em;
        padding-bottom: 1.5em;
    }

div#next_edition p.bodytext {text-align: center !important}


div#next_edition h1, div#next_edition p.bodytext  {
    width:70%;
}


/* Newsletter Form */


button#submit::before {
    content: "Subscribe";
    font-family: 'Lato', sans-serif; !important;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.11em;
    color: white !important;
}

button#submit img {display: none;}

button#submit {
    width:100%;
    min-width: 9em;
    max-width: 15em;
}


div.form_email {
    width: 63% !important;
}

input#email {
    width:95% !important;
}

div.form_submit {
    width: 35% !important;
}




}
/* ----------------------------------------------


                Tablets Landscape


--------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {




/* ------------- Footer --------------- */

    ul.footer_nav li {
        margin: 0 5% !important;
    }


    div#footer_col1 {text-align: center !important; margin-top: 13em;}
    div#footer_col2 {text-align: left !important; margin-top: -17.5em;}
    div#footer_col3 {text-align: left !important; margin-top: -16.5em;}


    ul.footer_nav, footer p, ul.footer_social {text-align: left !important;}


    ul.footer_nav li {margin: 0 5% 0 0 !important;}

    footer p {margin: 1em 0 0 !important; max-width: 22em !important;}

    ul.footer_social li {
        margin: 0 0.8em 0 0 !important;
    }

}
/* ----------------------------------------------





                D E S K T O P






--------------------------------------------- */

/* ----------------------------------------------

                   > 1024px ALL

--------------------------------------------- */

@media only screen and (min-width: 1024px) {

    .mobile {display: none !important;}


/* ------------- TEXT STYLES --------------- */

h1, h2, h3 {text-align: left !important;}

.last_edition_text2 {
    text-align: right !important;
}
p.bodytext {text-align: justify !important; }

h1 {
    font-size: 2em !important;
    letter-spacing: 0.14em !important;
}

/* ------------- CONTENT --------------- */

div#black_mask, div.content, footer {
    padding: 0 10%;
}

/* ------------- HEADER --------------- */

header {
    background-color: transparent !important;
}

header img.logo {
    width: 1.2em !important;
    top: 2em !important;
    left: 2em !important;
}



nav.header_nav li {

    display: inline-block;
    margin: 0 0.4em !important;
}

/* ------------- LAST EDITION --------------- */

div.content#last_edition {
    padding-bottom: 7.5em !important;
    }

div#last_edition_text {padding-right: 15% !important;}


div#last_edition_text h1 {line-height: 0.6em !important;}

/* ------------- VIDEO --------------- */

div#video {padding-top: 1.8em;}

div#video iframe {
    height: 25em !important;
}



/* ------------- Testimonials --------------- */

blockquote {margin: 0 0 2.5em 0 !important;}

div.twitter_feed_wrap {
    border-right: solid 1px #dfdfdf;
    padding-right: 15%;
}

div#testimonials.title {
    margin: 3.5em 0 1em !important;
}

div.tweet {
    padding: 2.1em 0 0 7em;
}

div.tweet p {
    text-align: left !important;
}

p.author {margin: 0;}
p.tweet {margin-top: 0.5em;}


blockquote.twitter-tweet img {
    float: left !important;
    position: relative !important;
    top: 1.7em !important;
}

/* ------------- Attendee Notes --------------- */


div.attendee_notes_wrap {
    padding-left: 32%;
}

div#notes.title {margin: 3.5em 0 2.2em;}

ul.attendee-notes {
    width: 100% !important;
    padding: 0 0 0 2em !important;
    text-align: left !important;
}


/* ------------- Next Edition --------------- */

div#black_mask {
    padding-top: 7em !important;
    padding-bottom: 4em !important;
}

div#next_edition h1 {
    width: 100% !important;
    margin: 0;
    font-size: 1.5em !important;
    line-height: 1.7em !important;
}

div#next_edition p.bodytext {
    margin: 1em 0 0 !important;
    max-width: 26em;
    width: 80%;
}

/* Newsletter Form */


.form_container {
    margin: 3.15em auto;
    width: 95%;
    padding-left: 5%;
}



div.form_email {
    width: 67% !important;
}

input#email {
    width:95% !important;
}

div.form_submit {
    width: 31% !important;
}


button#submit::before {
    content: "Subscribe";
    font-family: 'Lato', sans-serif; !important;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.11em;
    color: white !important;
}

button#submit img {display: none;}

button#submit {
    width:100%;
    min-width: 8em;
    max-width: 15em;
}




/* Countdown Timer */


div.next_edition_timer_wrap {width: 80%; margin: 0;}

ul.next_edition_timer {width: 16em; margin: 2em auto !important;}

ul.next_edition_timer li {margin: 0 0.5em;}



/* ------------- Footer --------------- */

    footer {
        padding-top: 4em !important;
        padding-bottom: 2.9em !important;
        }

    div#footer_col1,
    div#footer_col2,
    div#footer_col3 {
        margin-top: 0 !important;
        text-align: left !important;
    }



    div#footer_col1 div.content_wrap {border-right: solid 1px #cdcdcd; padding: 0; max-width: 14em;}

    div#footer_col1 h6 {margin: 0 0 1.3em !important;}


    ul.footer_nav, footer p, ul.footer_social {text-align: left !important;}

    ul.footer_nav li {margin: 0 10% 0 0 !important;  padding: 0}

    ul.footer_nav {margin: 0; padding-left: 10%;}

    footer p {margin: 1em 0 0 !important; max-width: 22em;}

    ul.footer_social li {
        margin: 0 0.8em 0 0 !important;
    }

     div#footer_col3 div.content_wrap {padding-left: 10%;}

}
/* ----------------------------------------------

         < 1200px Small Desktop

--------------------------------------------- */
@media only screen and (min-width: 1024px) and (max-width:1200px) {



    div#next_edition h1 {
        width: 65% !important;
    }


    .form_container {
        margin: 6.5em auto;
    }


    div.tweet {
        padding: 1.5em 0px 0px 7em !important;
    }


    div#footer_col3 div.content_wrap {padding-left: 23%;}

    footer p {max-width: 19em !important;}
}
/* ----------------------------------------------

         > 1440px LARGE SCREEN

--------------------------------------------- */
@media only screen and (min-width: 1440px) {


/* ------------- CONTENT --------------- */

div.content, footer {
    padding: 0 12%;
}


/* ------------- HEADER --------------- */


nav.header_nav  {
    top: 2em !important;
    right: 2em !important;
}

nav.header_nav li {margin: 0 0.8em !important;}

/* ------------- BUTTON --------------- */

a.button {
    padding: 1em 3em;
}

/* ------------- LAST EDITION --------------- */


div#last_edition .bodytext {margin-top: 1.6em;}






/* ------------- Next Edition --------------- */

div#next_edition h1 {
    width: 90% !important;
}






/* ------------- Footer --------------- */



  div#footer_col3 div.content_wrap {padding-left: 20%;}



}



/* ------------- Pages --------------- */

div.code-of-conduct {
  margin: 5em auto;
}

div.code-of-conduct p {
    text-align: left;
    line-height: 1.7em;
        font-style: normal;
        margin-bottom: 1.2em;
    font-weight: 300;
    font-size: 1.13em;
    color: rgba(0,0,0,0.60);
    letter-spacing: 0.02em;
    font-family: 'Lato', sans-serif;
}