
<a href="https://www.youtube.com/playlist?list=PLXcpGvKha8IK5V8JpPU1majsBbAtM5wlT"  target="youtubetab">
    <img src="/components/video/images/video-placeholder-default.png"
        srcset="/components/video/images/video-placeholder-small.png 800w, /components/video/images/video-placeholder-large.png 1200w"
        sizes="(max-width: 800px) 800px, (max-width: 1200px) 1200px"
        alt="video placeholder">
    <div id="watch">
        <div class="wrapper">
            <div class="tri"></div>
        </div>
    </div>
</a>