@import '../../style/site/_variables';


/* ------------- Next Edition --------------- */


div#next_edition {
    background: url(../images/photo_bg.jpg) no-repeat center 75%;
    background-size: cover;
    width: 100%;
}

div#black_mask {
    height: 100%;
    background: rgba(26,25,25,0.9);
    padding-top: 4em;
    padding-bottom: 0.5em;
}
div#black_mask .white{
    font-size: 1em;
}
div#black_mask h1 {

    min-height: 3em;
}

div#next_edition h1, div#next_edition p.bodytext  {
    margin: 0 auto;
}

/* Newsletter Form */


.form_container {
    width: 100%;
    margin: 4.5em auto;
    text-align: right;
    form {
       position: relative;
    }
}

div.form_email {
    /* width: 76%; */
    text-align: center;
    float: left;
}

img.email-icon {
    width: 1em;
    height: auto;
}

input#mce-EMAIL {
    padding: 0.5em 1.5em;
    height: 2em;
    min-width: 8em;
    width: 82%;
    border-radius: 3em;
    border-bottom-left-radius: 3em;
    border: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    color: rgba(0,0,0,0.80) !important;
}


input#mce-EMAIL::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     color: #B5B8BB;
}
input#mce-EMAIL:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #B5B8BB;
   opacity:  1;
}
input#mce-EMAIL::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #B5B8BB;
   opacity:  1;
}
input#mce-EMAIL:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B5B8BB;
}

div.form_submit {
    width: 20%;
    margin-top: 0;
    float: left;
    /* border: .1em solid white; */
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    /* background-color: white; */
    text-align: right;
}

#mc-embedded-subscribe {
    background-color: #d91e57;
    color: #fff;
    width: 2.5em;
    height: 2.56em;
    border: 0;
    border-radius: 5em;
    font-weight: 700;
    right: .2em;
    position: relative;
    font-family: Lato Light;
    background-image: url(/images/icons/email_icon_w.svg);
    background-position: 9px;
    background-repeat: no-repeat;
    /* border: 2px solid blue; */
    float: right;
    top: -2.81em;
    text-indent: -999999993em;
    background-size: 1.5em;
    /* display: inline-block; */
    position: relative;
    letter-spacing: .01em;
}

#mc-embedded-subscribe:hover {
    opacity: 0.6;
}


button.submit_button img {
    width: 1.4em;
    height: auto;
    padding-top: 0.3em;
}


button.submit_button:hover {
    background-color: rgba(0,0,0,0.80) !important;
}


/* Countdown Timer */

div.next_edition_timer_wrap {
    /* width: 100%; */
    /* margin: 0 auto; */
    /* background: red; */
    /* width: 120%; */
}

ul.next_edition_timer {
    width: 13em;
    margin: 3.5em auto;
    list-style: none;
    padding: 0 !important;
    text-align: center;
}


ul.next_edition_timer li {
    display: inline-block;
    margin: 0 0.3em;
}

li.units {
    width: 2em;
    height: auto;
    text-align: center;
}

h5.units {
    font-style: normal;
    font-weight: 400;
	font-size: 1.2em;
	color: #797979;
    margin: 0;
    letter-spacing: 0.2em;
}

span.units_name {
    font-style: normal;
    font-weight: 300;
	font-size: 0.6em;
	color: #797979;
    letter-spacing: 0.05em;
}

li.divider {
    font-style: normal;
    font-weight: 400;
	font-size: 1.2em;
	color: #797979;

}




@media only screen and (min-width: #{$tablet-width})  {

    /* ------------- Next Edition --------------- */

        div#black_mask {
            padding-top: 5em;
            padding-bottom: 1.5em;
        }



    div#next_edition h1, div#next_edition p.bodytext  {
        width:70%;
    }
    div#next_edition p.bodytext {
        text-align: right;
    }

    /* Newsletter Form */

    form {
        position: relative;
    }


        #mc-embedded-subscribe {
            text-indent: 0;
            /* background: blue; */
        }

    #mc-embedded-subscribe::before {
        content: "Subscribe";

        font-style: normal;
        font-weight: 400;
        font-size: 0.9em;
        letter-spacing: 0.11em;
        color: white !important;
    }
    #mc-embedded-subscribe img {display: none;}

    #mc-embedded-subscribe {
        min-width: 9em;
        max-width: 15em;
        padding-left: 1.9em;
    }



    input#email {
        width:95% !important;
    }



}


@media only screen and (min-width: #{$big-width})  {

    /* ------------- Next Edition --------------- */

    div#black_mask {
        padding-top: 4em;
        padding-bottom: 4em;
        /* min-height: 19em; */
    }

    div#next_edition h1 {
        width: 100% !important;
        margin: 0;
        font-size: 1.4em !important;
        line-height: 1.7em !important;
    }

    div#next_edition p.bodytext {
        max-width: 26em;
        width: 100%;
    }

    /* Newsletter Form */


    .form_container {
        margin: 6.3 em auto;
        width: 95%;
        padding-left: 5%;
        position: relative;
    }



    div.form_email {
        width: 67% !important;
    }

    input#email {
        width:95% !important;
    }

    div.form_submit {
        width: 31% !important;
    }


    button#mc-embedded-subscribe::before {
        content: "Subscribe";
        font-style: normal;
        font-weight: 400;
        font-size: 0.9em;
        letter-spacing: 0.11em;
        color: white !important;
    }

    button#mc-embedded-subscribe img {display: none;}

    button#mc-embedded-subscribe {
        width:100%;
        min-width: 8em;
        max-width: 15em;
    }


    /* Countdown Timer */


    div.next_edition_timer_wrap {width: 80%; margin: 0;}

    ul.next_edition_timer {width: 16em;margin: 0em auto;}

    ul.next_edition_timer li {margin: 0 0.5em;}

}

@media only screen and (min-width: #{$huge-width}) {

    div#next_edition h1 {
        width: 90% !important;
        text-align: center;
    }

}



// submit button hacks



@media only screen and (max-width: 320px)  {
    #mc-embedded-subscribe {
        right: -.7em;
    }
}


@media only screen and (min-width: 640px)  {
    #mc-embedded-subscribe {
        width: 10em;
        text-indent: 0;
        padding-left: 2em;
    }
}

@media only screen and (min-width: 2600px)  {
    #mc-embedded-subscribe {
        top: .2em;
        left: -10.2em;
    }
}