<div id="next_edition">
    <div id="black_mask"  class="content" >
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1 pure-u-lg-10-24">
            <h1 class="magenta">EnhanceConf 2018?</h1>
            <p class="bodytext white">Be the first to hear details of our next event by signing up to the mailing list:</p>

            </div>
            <div class="pure-u-1 pure-u-md-1 pure-u-lg-14-24">
                <div class="form_container">

                    <form action="//enhanceconf.us10.list-manage.com/subscribe/post?u=51dfdc2ed16b49dcad396dd73&amp;id=e8e09541e1"
                    class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank" rel="noopener">

                        <input class="email" id="mce-EMAIL" aria-label="subscribe" name="EMAIL" placeholder="Email Address" required="" type="email" value="">
                        <input class="button" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe">
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_51dfdc2ed16b49dcad396dd73_e8e09541e1"
                                tabindex="-1" type="text" value="" aria-label="subscribe span filter">
                            </div>
                    </form>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1 pure-u-lg-10-24">
                <div class="next_edition_timer_wrap">
                    <ul class="next_edition_timer">
                        <li class="units days">
                            <h5 class="units">?</h5>
                            <span class="units_name">Days</span>
                        </li>

                        <li class="units hours">
                            <h5 class="units">?</h5>
                            <span class="units_name">Hours</span>
                        </li>

                        <li class="units minutes">
                            <h5 class="units">?</h5>
                            <span class="units_name">Min</span>
                        </li>

                        <li class="units seconds">
                            <h5 class="units">?</h5>
                            <span class="units_name">Sec</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>